@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next {
height: 100%;
scroll-behavior: smooth;
}


/* Simple utility adjustments */
body {
font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
background-color: #f7f8fa;
}


/* Hero overlay */
.hero-overlay {
background: linear-gradient(90deg, rgba(10,42,67,0.85), rgba(10,42,67,0.55))}